<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index4</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<label for="searchInput">
    <input type="text" id="searchInput" name="searchKeyword">
</label>
<button onclick="search()">검색</button>

<table class="table table-striped table-hover" style="table-layout: fixed">
    <thead class="table-light">
    <tr>
        <th scope="col" style="width: 50px;">번호</th>
        <th scope="col">파트너아이디</th>
        <th scope="col">인증기관</th>
        <th scope="col">서명</th>
        <th scope="col">브로커아이디</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e: ${auditLogs}">
        <td th:text="${e.auditLogLogId}"></td>
        <td th:text="${e.partnerClientId}"></td>
        <td th:text="${e.authDestination}"></td>
        <td th:text="${e.signature}"></td>
        <td th:text="${e.brokerTxId}"></td>
    </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination" th:with="start=${(auditLogs.number/maxPage)*maxPage + 1},
    end=(${(auditLogs.totalPages == 0) ? 1 : (start + (maxPage - 1) < auditLogs.totalPages ? start + (maxPage - 1) : auditLogs.totalPages)})">

        <li class="page-item" th:if="${start > 1}">
            <a class="page-link" aria-label="Previous" th:href="@{/board/list(page=0)}" >
                <span aria-hidden="true">처음</span>
            </a>
        </li>

        <li class="page-item" th:if="${start > 1}">
            <a class="page-link" aria-label="Previous" th:href="@{/board/list(page=${start - maxPage -1})}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

<!--        th:href="@{/board/list(page=${page - 1})}"-->
        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
            <a class="page-link target1" th:text="${page}" th:id="${page}" th:onclick="pagination(this.getAttribute('id'))"
               th:style="${page == auditLogs.number+1? 'color:red;':''}">
            </a>

        </li>

        <li class="page-item" aria-label="Next" th:if="${end < auditLogs.totalPages}">
            <a class="page-link" th:href="@{/board/list(page=${start + maxPage - 1 })}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item" aria-label="Next" th:if="${end < auditLogs.totalPages}">
            <a class="page-link" th:href="@{/board/list(page=${auditLogs.totalPages - 1})}">
                <span aria-hidden="true">끝</span>
            </a>
        </li>
    </ul>
</nav>
<script th:inline="javascript">
    let searchKeyword = [[${param.searchKeyword}]];
</script>

<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/board.js"></script>
</body>
</html>